<header class="position-fixed d-block d-md-none w-100 clear-fix bg-dark text-white mh-mobile-header">
  <a [routerLink]="['/']" class="d-block text-decoration-none text-white">
    <i class="material-icons d-block position-absolute p-3">menu</i>
    <div class="mh-horizontal-icon py-3"><img src="/assets/images/mad-hater-horizontal-01.svg" alt="Mad Hater"></div>
  </a>
</header>
<nav class="w-100 vh-100 position-fixed bg-dark overflow-auto" [ngClass]="{'is-expanded': isNavigationExpanded}">
  <div class="min-vh-100 position-relative p-5">
    <a [routerLink]="['/']" class="d-block pb-5 text-center">
      <img class="w-100 mh-icon" src="/assets/images/mad-hater-01.svg" alt="Mad Hater">
    </a>
    <ul class="list-unstyled mb-0">
      <li>
        <a [routerLink]="['/resume']"
          (click)="isNavigationExpanded=false"
          class="text-decoration-none text-white d-block border-bottom border-white py-2">
          Resume
        </a>
      </li>
      <li>
        <a [routerLink]="['/code']"
          (click)="isNavigationExpanded=false"
          class="text-decoration-none text-white d-block border-bottom border-white py-2">
          Code
        </a>
      </li>
      <li>
        <a [routerLink]="['/design']"
          (click)="isNavigationExpanded=false"
          class="text-decoration-none text-white d-block border-bottom border-white py-2">
          Design
        </a>
      </li>
      <li>
        <a [routerLink]="['/blog']"
          (click)="isNavigationExpanded=false"
          class="text-decoration-none text-white d-block py-2">
          Blog
        </a>
      </li>
    </ul>
    <p class="position-absolute w-100 text-white text-center">© 2021 Justin Steele</p>
  </div>
</nav>

<main class="p-4 p-md-5 mh-content">
  <h1 class="h6 mb-4 text-uppercase mh-title">
    {{pageTitle}}
  </h1>
  <router-outlet></router-outlet>
</main>
