nav {
  left: -100%;
  top: 0px;
  transition: left .5s;
  z-index: 2;
}
nav.is-expanded {
  left: 0px;
  transition: left .5s;
}
nav p {
  bottom: 0px;
  left: 0px;
}
.mh-mobile-header {
  z-index: 1;
  top: 0;
  h1 {
    position:relative;
    top: 1px;
  }
  .mh-horizontal-icon {
    width:150px;
    margin-left:auto;
    margin-right:auto;
  }
  .mh-horizontal-icon img {
    width:150px;
    height:24px;
  }
}
.mh-icon {
  max-width: 70vh;
}
.mh-content {
  margin-top: 3.5rem;
}
@media (min-width: 768px) {
  nav {
    left: 0px !important;
    width: 25vw !important;
    transition: width .5s;
  }
  nav > div {
    max-width: 25vw;
    transition: max-width .5s;
    margin-left:auto;
    margin-right:auto;
  }
  nav.is-expanded {
    width: 100% !important;
    transition: width .5s;
  }
  nav.is-expanded > div {
    max-width: 33vw;
    transition: max-width .5s;
  }

  .mh-content {
    margin-top: 0;
    margin-left: 25vw;
  }
}

