main {
  max-width: 650px;
}
.material-icons {
  font-size: 1.2rem;
  position: relative;
  top: 4px;
}
.mh-date-icon {
  font-weight:700;
  line-height:1;
  min-width: 65px;
  font-size:.8rem;
}
.mh-date-year {

}
.mh-date-month {

}
.mh-date-day {
  font-size:1.5rem;
}