/* You can add global styles to this file, and also import other style files */
:root {
  --spacing-xs: .25rem;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  --font-size-xs: .75rem;
  --font-size-sm: .9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 1.6rem;
  --font-size-xxl: 2rem;

  --max-content-width: 700px;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: var(--font-size-md);
  font-weight: 400;
  font-family: 'Amiri', serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .3em;
  margin: 0;
}

h1 {
  font-size: var(--font-size-md);
  margin: 0 0 var(--spacing-lg) 0;
}

ul, ol {
  padding-inline-start: 20px;
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

section {
  margin: 0 0 var(--spacing-xxl) 0;
}

p {
  margin: 0;
}